.App {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #282c34;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  position: fixed;
  background-color: #282c34;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, .5);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 64px;
}

.App-link {
  color: #61dafb;
}

section {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: #282c34;
  color: rgba(255, 255, 255, .9);
  max-width: 900px;
}

.name-section {
  background: rgba(0, 0, 0, .5);
  padding: 1rem 2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
}

.name-section-inner {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin: .5rem 0 .5rem 0;
}

span {
  margin: .5rem 2rem .5rem 0;
}

input {
  margin: 15px 0 15px 0;
  padding: 0;
  max-width: 900px;
  border: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  font-size: 1rem;
  width:100%;
  height: 3rem;
  transition: .3s;
  color: white;
}
input:focus {
  outline: 0;
  border-bottom:2px solid rgba(0, 253, 42, 0.5);
  box-shadow: 0 1px 0 0 rgba(0, 253, 42, 0.5);
}

.index {
  position: fixed;
  width: 64px;
  right: 0;
  background: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.index a, .index a:visited, .index a:focus {
  padding: .1rem;
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  font-weight: bold;
}

.index h4 {
  color: rgba(255, 255, 255, .9);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
